@import url(http://fonts.googleapis.com/css?family=Merriweather:300);
body{
	font-family: 'Merriweather', serif;
	background: #f6f6f6;
}
header{
	background: rgba(255,255,255,0.5);
	padding: 10px;
	font-size: 14px;
	margin-bottom: 20px;
	box-shadow: 1px 0px 4px #ADADAD;
}
.back-to-site a{
	color: #5B5A5A;
	text-decoration: none;
}
.back-to-site a:hover{
	color: #000;
}
.container{
	width: 80%;
	margin: auto;
}